# Node.js dependencies (if applicable)
node_modules/
npm-debug.log

# Build output
dist/
build/

# Sass cache
.sass-cache/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# IDE-specific files
.vscode/
.idea/
*.iml

# Mac system files
.DS_Store

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore compiled CSS maps if using SCSS
css/*.map
!css/*.css


# GitHub Pages build cache
_site/
